.w-100p {
  width: 100%;
}

.ma-none {
  margin: 0 !important;
}

.ml-md {
  margin-left: 1rem !important;
}

.border-black-1 {
  border: 1px solid black;
}

.border-right-black-1 {
  border-right: 1px solid black;
}

.link {
  text-decoration: none;
}
